body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#buttons {
  margin-bottom: 20px;
}

.sound-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
}

#player-controls {
  margin-top: 20px;
}

.control-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
}

.home-button {
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #000;
  opacity: 0.6;
  z-index: 1000;
}
